# Dependencies
[Dd]ependencies/

# Project output
[Bb]in/
[Oo]bj/

# Visual Studio Code files
.vscode/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/

# User secrets
secrets.json
appsettings.Development.json

# Build results
[Bb]uild/
[Rr]elease/
[Ll]ogs/

# Mac files
.DS_Store

# Windows thumbnail cache
Thumbs.db